@import '~bootstrap/scss/functions', '~bootstrap/scss/variables';

// Theme Colours
$primary: hotpink;
$secondary: $gray-500;
$dark: $gray-800;
$light: $gray-100;
$info: hotpink;

// Pagination
$pagination-color: $dark;
$pagination-hover-bg: $secondary;
$pagination-hover-color: $light;
$pagination-active-bg: $primary;
$pagination-active-border-color: $secondary;
$pagination-disabled-bg: $gray-200;

.thinBorder {
  //margin-top: 1rem;
  //margin-bottom: 1rem;
  //border: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.showOnHover {
  visibility: hidden;
}

.showChildOnHover:hover .showOnHover{
  visibility: visible;
}

.headerLink {
  color: $dark;
  background-color: white;
  font-weight: bold;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  border: none;
}