@import '~bootstrap/scss/functions', '~bootstrap/scss/variables';

// Theme Colours
$primary: hotpink;
$secondary: $gray-500;
$dark: $gray-800;
$light: $gray-100;

// Pagination
$pagination-color: $dark;
$pagination-hover-bg: $secondary;
$pagination-hover-color: $light;
$pagination-active-bg: $primary;
$pagination-active-border-color: $secondary;
$pagination-disabled-bg: $gray-200;

.thinBorder {
  //margin-top: 1rem;
  //margin-bottom: 1rem;
  //border: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
}